name: Continuous Integration

on:
  pull_request:

permissions:
  contents: read

jobs:
  test-javascript:
    name: Typescript Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      - name: Check Format
        id: npm-format-check
        run: npm run format:check

      - name: Lint
        id: npm-lint
        run: npm run lint

      - name: Test
        id: npm-ci-test
        run: npm run ci-test

      - name: Code Coverage Summary Report
        if:
          github.event_name == 'pull_request' && !startsWith(github.actor,
          'dependabot')
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage/cobertura-coverage.xml
          badge: true
          fail_below_min: true
          format: markdown
          hide_branch_rate: false
          hide_complexity: false
          indicators: true
          output: both
          thresholds: '50 80'

      - name: Add Coverage PR Comment
        if:
          github.event_name == 'pull_request' && !startsWith(github.actor,
          'dependabot')
        uses: marocchino/sticky-pull-request-comment@v2.9.4
        with:
          recreate: true
          path: code-coverage-results.md
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}

  test-action:
    name: GitHub Actions Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          tenant_id: 'test-tenant-id'
          client_id: 'test-client-id'
          client_secret: 'test-secret'
          keyvault_name: 'ci-action-test-keyvault'
          secrets: |
            secret1
            secret2
